.cBtn {
  background-color: var(--clr-primary) !important;
  text-transform: uppercase;
  font-weight: 500;
}

.cBtn:hover {
  background-color: var(--clr-secondary) !important;
}

.img {
  transition: transform ease 0.3s;
}

.cBtn * {
  overflow: visible !important;
}

.cBtn:hover .img {
  transform: translate(30%);
}
