/* .header {
  background-image: url(/images/hero.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} */

.header {
  position: relative;
}

.bg {
  position: absolute;
  z-index: -1;
}

.pageTitle {
  width: 70%;
  margin: 0 auto;
}

.pageTitle h1 {
  max-width: 945px;
  font-family: "Brygada", serif;
  font-size: 3.2em;
  line-height: 1;
  color: #173141;
}

.pageTitle h2 {
  font-family: "Brygada", serif;
  font-style: italic;
  color: #173141;
}

.textWrapper {
  max-width: 700px;
  margin: 0 auto;
}

.main h2 {
  width: max-content;
  position: relative;
  margin: 0 auto;
}
.main h2::after {
  content: "";
  width: 40%;
  height: 3px;
  background-color: var(--clr-primary);
  top: 110%;
  left: 50%;
  transform: translate(-50%);
  position: absolute;
}

.propositions {
  padding: 6rem 0 7rem 0;
  gap: 7rem;
}

.blogImg {
  height: 200px;
}

.blogDate {
  position: absolute;
  top: 0;
  left: 1rem;
  color: var(--clr-white);
  transform: translateY(-30%);
  background-color: var(--clr-secondary);
}

.blogLink {
  text-decoration: underline;
  color: var(--clr-secondary);
}

.blogsWrapper {
  padding: 4rem 0;
}
