.header {
  background-image: url(/images/hero.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header {
  position: relative;
}

.bg {
  position: absolute;
  z-index: -1;
}

.pageTitle {
  width: 70%;
  margin: 0 auto;
}

.pageTitle h1 {
  max-width: 945px;
}

.pageTitle h2 {
  font-family: "Brygada", serif;
  font-style: italic;
}

.textWrapper {
  max-width: 700px;
  margin: 0 auto;
}
.main h2 {
  width: max-content;
  position: relative;
  margin: 0 auto;
}
.main h2::after {
  content: "";
  width: 40%;
  height: 3px;
  background-color: #f2b142;
  top: 110%;
  left: 50%;
  transform: translate(-50%);
  position: absolute;
}
.iconWrapper {
  padding: 8px;
  width: 70px;
  height: 70px;
  background-color: #fff;
  padding: 10px;

  border-radius: 50%;
  border: 2px solid #f2b142;
}
.cardTitle {
  margin-top: 1rem;
  font-weight: 550;
}
.map {
  height: 400px;
  background-color: #454555;
}
