.container {
  padding-top: 30vh;
  min-height: 100vh;
}

.notReady {
  font-family: "Brygada", serif;
  font-style: italic;
  font-weight: 550;
}

.blogImg {
  height: 200px;
}

.blogDate {
  position: absolute;
  top: 0;
  left: 1rem;
  color: var(--clr-white);
  transform: translateY(-30%);
  background-color: var(--clr-secondary);
}

.blogLink {
  text-decoration: underline;
  color: var(--clr-secondary);
}
