.link {
  position: relative;
  width: max-content;
  text-transform: capitalize;
  cursor: pointer;
}

.link::after {
  content: "";
  background-color: var(--clr-primary);
  width: 0%;
  height: 2px;
  position: absolute;
  top: 105%;
  left: 0;
  transition: width ease 0.4s;
}

.linkActive::after,
.link:hover:after {
  width: 100%;
}

.logo {
  /* the image is 26:15 */
  height: 50px;
  width: calc(50px * 26 / 15);
  position: relative;
  cursor: pointer;
}
