.link {
  position: relative;
  width: max-content;
  text-transform: capitalize;
  cursor: pointer;
}

.link::after {
  content: "";
  background-color: var(--clr-primary);
  width: 0%;
  height: 2px;
  position: absolute;
  top: 105%;
  left: 0;
  transition: width ease 0.4s;
}

.linkActive::after,
.link:hover:after {
  width: 100%;
}

.logo {
  --height: 50px;
  height: var(--height);
  width: calc(var(--height) * 1498 / 643);
  position: relative;
  cursor: pointer;
}
