.markPrimary {
  position: relative;
}
.markPrimary::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 35%;
  background-color: var(--clr-primary);
  z-index: -1;
}
