.markPrimary {
  position: relative;
}
.markPrimary::after {
  content: "";
  position: absolute;
  bottom: -10%;
  left: 0;
  width: 100%;
  height: 30%;
  background-color: var(--clr-primary);
  z-index: -1;
  background: url("/images/marker.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
