.cardAndImage {
  max-width: 1100px;
  margin: 0 auto;
}

.cardAndImage h3 {
  font-family: "Brygada", serif;
  font-style: italic;
  color: #f2b142;
  font-weight: 600;
  margin-bottom: 1.2rem;
}

.cardAndImageImg {
  max-height: 300px;
  min-height: 300px;
}
