.footer {
  background-color: var(--clr-secondary);
}

.socials > * {
  cursor: pointer;
}

.socials > *:hover {
  filter: brightness(0) saturate(100%) invert(81%) sepia(69%) saturate(929%)
    hue-rotate(320deg) brightness(104%) contrast(101%);
}

.link {
  position: relative;
  width: max-content;
  text-transform: capitalize;
}

.link::after {
  content: "";
  background-color: var(--primary-accentuate);
  width: 0%;
  height: 2px;
  position: absolute;
  top: 105%;
  left: 0;
  transition: width ease 0.4s;
}

.link:hover:after {
  width: 100%;
}

.legal {
  color: var(--clr-light);
  font-size: 0.85em;
}
