.container {
  padding-top: 30vh;
}

.img {
  min-width: 20px;
  max-width: 20px;
  min-height: 20px;
  max-height: 20px;
  position: relative;
  display: block;
}

.tabWrapper {
  max-width: 600px;
  margin: 0 auto;
}

.tabWrapper li {
  width: 50%;
}

.tabWrapper li button {
  width: 100%;
}

.tabWrapper :is(input, button) {
  border-radius: 0;
}
