html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a,
a:focus,
a:visited {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --primary-accentuate: #c3610f;
  --secondary-accentuate: #ffbd4d;
  --primary-dark: #063fce;
  --secondary-dark: #454555;
  --light: #a6a6a6;
  --lighter: #c5bcff;
  --white: #fff;
}
