.container {
  padding-top: 30vh;
}

.textWrapper {
  max-width: 700px;
  margin: 0 auto;
}
.textWrapper h2 {
  width: max-content;
  position: relative;
  margin: 0 auto;
  text-transform: uppercase;
}
.textWrapper h2::after {
  content: "";
  width: 40%;
  height: 3px;
  background-color: var(--clr-primary);
  top: 110%;
  left: 50%;
  transform: translate(-50%);
  position: absolute;
}

.offerWrapper {
  max-width: 900px;
  margin: 0 auto;
  column-gap: 3rem;
}
.offerWrapper h3 {
  font-family: "Brygada", serif;
  font-style: italic;
  color: var(--clr-secondary);
  font-weight: 550;
}

.offerWrapper h3::before {
  content: "“";
  margin-right: 0.3em;
}
.offerWrapper h3::after {
  content: "”";
  margin-left: 0.3em;
}

.offerWrapper p {
  max-width: 400px;
}

.ideals {
  background-color: var(--clr-secondary);
  box-shadow: 0 0 0 100vmax var(--clr-secondary);
  clip-path: inset(0 -100vmax);
  margin-bottom: 6rem;
}

.team {
  margin-bottom: 5rem;
}
.teamCard {
  cursor: pointer;
  max-width: 350px;
  margin: 0 auto;
  position: relative;
}

.teamCard:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  transition: all ease 0.3s;
  opacity: 0.95;
}

.teamCard:hover::after {
  width: 105%;
  height: 105%;
  border: 1px solid var(--clr-secondary);
}

.teamCard img {
  object-fit: cover;
  object-position: top;
}

.teamCard:hover .teamOverlay {
  height: 100%;
  opacity: 1;
}
.teamOverlay {
  opacity: 0;
  transition: opacity ease 0.3s;
  background-color: var(--clr-secondary);
  max-height: 100%;
}
.teamName {
  font-family: "Brygada", serif;
  font-style: italic;
  font-weight: 600;
}
