.container {
  padding-top: 30vh;
}

.textWrapper {
  max-width: 700px;
  margin: 0 auto;
}
.textWrapper h2 {
  width: max-content;
  position: relative;
  margin: 0 auto;
}
.textWrapper h2::after {
  content: "";
  width: 40%;
  height: 3px;
  background-color: #f2b142;
  top: 110%;
  left: 50%;
  transform: translate(-50%);
  position: absolute;
}

.offerWrapper {
  max-width: 900px;
  margin: 0 auto;
  column-gap: 3rem;
}
.offerWrapper h3 {
  font-family: "Brygada", serif;
  font-style: italic;
  color: #f2b142;
  font-weight: 550;
}

.offerWrapper p {
  max-width: 400px;
}

.idealWrapper h3 {
}
